@media (max-width: 700px)
{
    html {
        font-size: 4vi;
    }
    .SelectorTable {
        background-color: #9CB6BE;
        width: inherit;
        height: fit-content;
        margin: 2vi;
        border-radius: 3vi;
    }
    .tTable {
        width: inherit;
        align-content: space-around;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5vi;
        display: table;
    }

    .TableRow {
        width: inherit;
        align-content: space-around;
        display: table-row;
    }

    .SelectTableElement {
        height: 14.5vi;
        width: 12.6875vi;
        text-align: center;
        background-color: #45616A;
        border-radius: 3vi;
        transition: background-color 0.2s, transform 0.2s;
        align-content: space-around;
        margin: 0.5vi;
    }

        .SelectTableElement:hover {
            transform: scale(1.05);
        }

    .SelectTableElementActivated {
        height: 14.5vi;
        width: 12.6875vi;
        text-align: center;
        background-color: #467155;
        border-radius: 3vi;
        transition: background-color 0.2s, transform 0.2s;
        align-content: space-around;
        margin: 0.5vi;
    }

        .SelectTableElementActivated:hover {
            transform: scale(1.05);
        }

    .SelectTableElementStr {
        color: #E5E5E5;
        user-select: none;
        align-content: center;
        text-align: center;
        height: 15px;
        margin: 5px;
        vertical-align: central;
        font-size: 3vi;
        offset-anchor: center;
    }

    .TableTable {
        color: #E5E5E5;
        background-color: #45616A;
        text-align: center;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vi;
        padding: 1em;
        border-radius: 3vi;
        text-align: center;
        font-size: 3.5vi;
    }

    .HorizontalStackPanel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 2vi;
    }

    .ClearBtn {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 1.5vi;
        margin: 1vi;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        position: absolute;
        right: 0;
        display: block;
        font-size: 3vi;
    }

        .ClearBtn:hover {
            transform: scale(1.05);
        }

    .SummonBtn {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 1.5vi;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        display: block;
        font-size: 5vi;
    }

        .SummonBtn:hover {
            transform: scale(1.05);
        }

    h1, h4 {
        text-align: center;
        color: #E5E5E5;
    }

    header {
        position: relative;
        top: 0;
        overflow: hidden;
        width: 100%;
        margin: 0 0 10px 0;
        background-color: #45616A;
    }

    body {
        background-color: #B7D7E1;
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: #333333;
        font-weight: 500;
    }

    .OutputString {
        border: 1px solid;
        width: 75vi;
        min-height: 50vi;
        height: fit-content;
        text-align: center;
        margin: 10px auto;
        display: block;
        font-size: 4vi;
    }

    .frame {
        display: block;
        margin: 10px auto;
        width: 95vi;
        height: 100vi;
    }

    footer {
        position: relative;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        margin: 10px 0 0 0;
        padding: 30px 0px 30px 0px;
        background-color: #45616A;
    }

    a {
        text-align: center;
        color: #E5E5E5;
        font-weight: 500;
        display: block;
    }
    .FooterStr {
        color: #E5E5E5;
        font-size: 3vi;
    }
}
@media (min-width: 700px)
{
    .SelectorTable {
        background-color: #9CB6BE;
        padding: 10px;
        width: fit-content;
        height: fit-content;
        border-radius: 15px;
        align-content: space-evenly;
        margin-right: auto;
        margin-left: auto;
    }

    .SelectTableElement {
        height: 6em;
        width: 5.25em;
        text-align: center;
        background-color: #45616A;
        border-radius: 15px;
        transition: background-color 0.2s, transform 0.2s;
        align-content: center;
        margin: 5px;
    }

        .SelectTableElement:hover {
            transform: scale(1.05);
        }

    .SelectTableElementActivated {
        height: 6em;
        width: 5.25em;
        text-align: center;
        background-color: #467155;
        border-radius: 15px;
        transition: background-color 0.2s, transform 0.2s;
        align-content: center;
        margin: 5px;
    }

    .SelectTableElementActivated:hover {
        transform: scale(1.05);
    }

    .SelectTableElementStr {
        color: #E5E5E5;
        user-select: none;
        align-content: center;
        text-align: center;
        height: 15px;
        margin: 10px;
        vertical-align: baseline;
        font-size: 20px
    }

    .TableTable {
        color: #E5E5E5;
        background-color: #45616A;
        text-align: center;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        border-radius: 10%;
        text-align: center;
        font-size: 20px;
    }

    .HorizontalStackPanel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 10px;
    }

    .ClearBtn {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 10%;
        margin: 0;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        position: absolute;
        right: 0;
        display: block;
        font-size: 20px;
    }

        .ClearBtn:hover {
            transform: scale(1.05);
        }

    .SummonBtn {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 10%;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        display: block;
        font-size: 20px;
    }

    .SummonBtn:hover {
        transform: scale(1.05);
    }

    h1, h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: #E5E5E5;
    }

    header {
        position: relative;
        top: 0;
        overflow: hidden;
        width: 100%;
        margin: 0 0 10px 0;
        background-color: #45616A;
    }

    body {
        background-color: #B7D7E1;
    }

    p {
        text-align: center;
        color: #333333;
        font-weight: 500;
        font-size: 20px;
    }

    .OutputString {
         
        border: 1px solid;
        width: 300px;
        min-height: 100px;
        height: fit-content;
        text-align: center;
        margin: 10px auto;
        display: block;
        font-size: 15px;
    }

    .frame {
        display: block;
        margin: 10px auto;
        width: 500px;
        height: 400px;
    }

    footer {
        position: relative;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        margin: 10px 0 0 0;
        padding: 30px 0px 30px 0px;
        background-color: #45616A;
    }

    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: #E5E5E5;
        font-weight: 500;
        font-size: 12px;
        display: block;
    }
    .FooterStr {
        color: #E5E5E5;
        font-size: 15px;
    }
}