/* /Layout/MainLayout.razor.rz.scp.css */
header[b-93pn9bphqg] {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 0 10px 0;
    background-color: #45616A;
}
a[b-93pn9bphqg], h1[b-93pn9bphqg], h4[b-93pn9bphqg] {
    text-align: center;
    color: #E5E5E5;
    display: block;
}
footer[b-93pn9bphqg] {
    position: relative;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 30px 0px 30px 0px;
    background-color: #45616A;
}
/* /Pages/Distributor.razor.rz.scp.css */
h3[b-oi9pha6zom] {
    text-align: center;
}
textarea[b-oi9pha6zom] {
    resize: none;
    overflow-wrap: normal;
    white-space: nowrap;
    tab-size: 4;
}

.ctrlinput[b-oi9pha6zom], .inputs[b-oi9pha6zom], .ctrlcontainer[b-oi9pha6zom] {
    
    display: flex;
    flex-flow: column;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    align-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

    .ctrlcontainer[b-oi9pha6zom] {
        border: 1px solid;
        flex-flow: row;
        margin: 50px auto;
    }


    input[b-oi9pha6zom] {
        width: 10vmax;
    }

.actrl[b-oi9pha6zom] {
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
    .actrl p[b-oi9pha6zom] {
        font-family: Consolas, Courier New, Courier, monospace;
        margin: 5px;
    }

.inputs .actrl[b-oi9pha6zom] {
    flex-flow: column;
}
.inputs .actrl p[b-oi9pha6zom] {
    margin-left: auto;
    margin-right: auto;
}
.inputs .actrl textarea[b-oi9pha6zom] {
    width: 20vmax;
    height: 20vmax;
}

.outputMap[b-oi9pha6zom] {
    max-width: 95vw;
    width: fit-content;
    height: fit-content;
    margin: 40px auto;
    padding: 50px;
    

}
    .outputMap table[b-oi9pha6zom] {
        width: 100%;
        height: 100%;
        background-color: #9CB6BE;
        border-radius: 20px;
        padding: 30px;
        margin: auto;
    }
.seatRect[b-oi9pha6zom] {
    width: 6.5em;
    height: 6.5em;
    background-color: #45616A;
    margin: 7px;
    display: block;
    align-content: space-around;
    border-radius: 10px;
}
    .seatRect p[b-oi9pha6zom] {
        font-family: Consolas, Courier New, Courier, monospace;
        color: #E5E5E5;
        text-align: center;
        font-size: 27.5px;
        font-weight: 900;
        margin: 5px;
        
    }
.SummonBtn[b-oi9pha6zom] {
    background-color: #45616A;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 50px auto;
    border: 0px;
    padding: 1em;
    color: #E5E5E5;
    transition: transform 0.2s;
    display: block;
    font-size: 20px;
}
.outputstr[b-oi9pha6zom] {
    border: 1px solid;
    width: 50vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Consolas, Courier New, Courier, monospace;
    text-align: center;
    display: block;
    background-color: transparent;
}
/* /Pages/Home.razor.rz.scp.css */
@media (max-width: 699.85px) {

    .SummonBtn[b-g658nyaboh] {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 1.5vi;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        display: block;
        font-size: 4vmin;
    }

        .SummonBtn:hover[b-g658nyaboh] {
            transform: scale(1.05);
        }

    p[b-g658nyaboh] {
        text-align: center;
        color: #333333;
        font-weight: 500;
    }

    .OutputString[b-g658nyaboh] {
        border: 1px solid;
        width: 75vi;
        min-height: 50vi;
        height: fit-content;
        text-align: center;
        margin: 10px auto;
        font-size: 4vi;
        display: block;
        text-wrap: balance;
    }

    .frame[b-g658nyaboh] {
        display: block;
        margin: 1vw auto;
        width: 93vw;
        height: 100vw;
    }
}

@media (min-width: 700px) {

    .SummonBtn[b-g658nyaboh] {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 10%;
        margin-right: auto;
        margin-left: auto;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        display: block;
        font-size: 20px;
    }

        .SummonBtn:hover[b-g658nyaboh] {
            transform: scale(1.05);
        }

    p[b-g658nyaboh] {
        text-align: center;
        color: #333333;
        font-weight: 500;
        font-size: 20px;
    }

    .OutputString[b-g658nyaboh] {
        border: 1px solid;
        width: 300px;
        min-height: 100px;
        height: fit-content;
        text-align: center;
        margin: 10px auto;
        display: block;
        font-size: 15px;
        word-wrap: anywhere;
    }

    .frame[b-g658nyaboh] {
        display: block;
        margin: 10px auto;
        width: 500px;
        height: 400px;
    }
}
/* /SelectorPageElement/Table.razor.rz.scp.css */
@media (max-width: 700px) {
    .SelectorTable[b-91ho4gkis1] {
        background-color: #9CB6BE;
        width: inherit;
        height: fit-content;
        margin: 2vmin;
        border-radius: 3vmin;
    }

    .tTable[b-91ho4gkis1] {
        width: inherit;
        align-content: space-around;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5vmin;
        display: table;
    }

    .TableRow[b-91ho4gkis1] {
        width: inherit;
        align-content: space-around;
        display: table-row;
    }

    .TableTable[b-91ho4gkis1] {
        color: #E5E5E5;
        background-color: #45616A;
        text-align: center;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vmin;
        padding: 1em;
        border-radius: 3vmin;
        text-align: center;
        font-size: 3.5vmin;
    }

    .HorizontalStackPanel[b-91ho4gkis1] {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 2vmin;
    }

    .ClearBtn[b-91ho4gkis1] {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 1.5vmin;
        margin: 1vmin;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        position: absolute;
        right: 0;
        display: block;
        font-size: 3vmin;
    }

        .ClearBtn:hover[b-91ho4gkis1] {
            transform: scale(1.05);
        }
}

@media (min-width: 700px) {
    .SelectorTable[b-91ho4gkis1] {
        background-color: #9CB6BE;
        padding: 10px;
        width: fit-content;
        height: fit-content;
        border-radius: 15px;
        align-content: space-evenly;
        margin-right: auto;
        margin-left: auto;
    }

    .TableTable[b-91ho4gkis1] {
        color: #E5E5E5;
        background-color: #45616A;
        text-align: center;
        height: fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        border-radius: 10%;
        text-align: center;
        font-size: 20px;
    }

    .HorizontalStackPanel[b-91ho4gkis1] {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 10px;
    }

    .ClearBtn[b-91ho4gkis1] {
        background-color: #45616A;
        width: fit-content;
        height: fit-content;
        border-radius: 10%;
        margin: 0;
        border: 0px;
        padding: 0.5em;
        color: #E5E5E5;
        transition: transform 0.2s;
        position: absolute;
        right: 0;
        display: block;
        font-size: 20px;
    }

        .ClearBtn:hover[b-91ho4gkis1] {
            transform: scale(1.05);
        }
}
/* /SelectorPageElement/TableElement.razor.rz.scp.css */
@media (max-width: 699.85px) {
	html[b-eqxrgyf3lh] {
		font-size: 4vi;
	}

	.SelectTableElement[b-eqxrgyf3lh] {
		height: 14.5vmin;
		width: 12.6875vmin;
		text-align: center;
		background-color: #45616A;
		border-radius: 3vmin;
		transition: background-color 0.2s, transform 0.2s;
		align-content: space-around;
		margin: 0.5vmin;
	}

		.SelectTableElement:hover[b-eqxrgyf3lh] {
			transform: scale(1.05);
		}

	.SelectTableElementActivated[b-eqxrgyf3lh] {
		height: 14.5vmin;
		width: 12.6875vmin;
		text-align: center;
		background-color: #467155;
		border-radius: 3vmin;
		transition: background-color 0.2s, transform 0.2s;
		align-content: space-around;
		margin: 0.5vmin;
	}

		.SelectTableElementActivated:hover[b-eqxrgyf3lh] {
			transform: scale(1.05);
		}

	.SelectTableElementStr[b-eqxrgyf3lh] {
		color: #E5E5E5;
		user-select: none;
		align-content: center;
		text-align: center;
		margin: 1vmin;
		height: 3vmin;
		vertical-align: central;
		font-size: 3vmin;
		offset-anchor: center;
	}
}

@media (min-width: 700px) {

	.SelectTableElement[b-eqxrgyf3lh] {
		height: 6em;
		width: 5.25em;
		text-align: center;
		background-color: #45616A;
		border-radius: 15px;
		transition: background-color 0.2s, transform 0.2s;
		align-content: center;
		margin: 5px;
	}

		.SelectTableElement:hover[b-eqxrgyf3lh] {
			transform: scale(1.05);
		}

	.SelectTableElementActivated[b-eqxrgyf3lh] {
		height: 6em;
		width: 5.25em;
		text-align: center;
		background-color: #467155;
		border-radius: 15px;
		transition: background-color 0.2s, transform 0.2s;
		align-content: center;
		margin: 5px;
	}

		.SelectTableElementActivated:hover[b-eqxrgyf3lh] {
			transform: scale(1.05);
		}

	.SelectTableElementStr[b-eqxrgyf3lh] {
		color: #E5E5E5;
		user-select: none;
		align-content: center;
		text-align: center;
		height: 20px;
		margin: 10px;
		vertical-align: baseline;
		font-size: 20px
	}
}
